
$brand-margin: 40px; 

.home {
	padding-top:46px;
	.news {
		.img-responsive {
			width: 100%; height:auto;
		}
	}
	.section {
		margin-bottom: $brand-margin*2;
	}
	.post {		
		a { text-decoration: none; margin:0; padding:0; }
		time, h3, h4, p { color: $text-color; text-decoration: none; }
		small { text-decoration: underline; }
	}
	.multimedia { 
		margin-top: $brand-margin;
	}
}

.flag-banner {
	position:relative; background-image: url(../images/background_gob.jpg);  margin-bottom: ($brand-margin + 40px); background-size: cover; background-repeat:no-repeat; height:320px; background-position: center center;
	& > img {
		position:absolute; width:273px; height:90px; top:50%; left:50%; margin-top: -45px; margin-left: -137px;
	}
}

.social-follow {
	@include make-row();
	li {
		margin-bottom: 20px; display:block; @include make-sm-column(6); position:relative;
		 .fa-li {background-color:$gray; color:$white; height: 1.5em; width: 1.5em;   left: 0; position:relative; top: 0.14285714em; line-height:1.6; margin-right: .7em;}
	}
}

.structure {
	.media-left {
		min-width: 250px; margin-right: 30px;
	}
	h5 { margin-bottom: $brand-margin;}
}

.small-structure {
  margin-top: 0;  width: 50%;   margin-bottom: 20px;
  h5 { 
  	margin-bottom:10px; 
	a { color: $text-color; text-decoration: none;}
  }
  span {
  	font-size: $font-size-small;
  }
}

.list-article {
	margin-top: $brand-margin;
	.post {
		h4 {
			font-size: ($font-size-h4 - 2px); font-weight: 600;
		}
		p {
			font-size: ($font-size-base - 2px);
		}
	}
}





