//** landing page
$brand-margin: 40px; 
$banner-height: 277px;

//** banner principal
.main-banner {
  min-height: $banner-height; margin-bottom: $brand-margin;  color:$white; background-color:$black;  background-image:none;
  & > .container { display: table; height:$banner-height; }
  h1 {
    font-size: ($font-size-h1 - 10px); margin:0px; font-weight:300; display:table-cell; vertical-align:middle; line-height:132%;
    & > strong {
      font-weight: 600; display:block; margin-top: -5px;
    }
  }
}

//** contenedor principal de landing page
.landing-wrapper {
  & > section {
    margin-bottom: $brand-margin;
    & > h3 { margin: 0px; }
    & > hr { 
      margin: 10px 0 70px; border-top-color: $border-color; position: relative;
      &:before { content: " "; width:35px; height: 5px; background-color: $brand-red; display:block; position: absolute; }
    }
    h4 { margin-top: 0px; margin-bottom: 37px; font-size:($font-size-h4 - 2px);}
  }
}

//** contenendor seccion de que ¿Que es gob.mx?
.about-landing{
  .row {
    & > div {
      margin-bottom: 20px;
    }
  }
}

.numbers-landing {
  .giant {
    margin-bottom: 20px;
    small { text-transform: none; font-weight: 700; font-size: 60%; color:$text-color; line-height:20px;}
  }
  p { font-size:24px; font-weight: 500; }
}

  //* Texto introductorio de que ¿Que es gob.mx?
  .intro-text {    
      font-size: $font-size-h4; font-weight:400; line-height:150%; margin: 0px; 
    

  }

  //* Caja lateral 
  .side-text-landing {
    margin: 0; padding:40px; border: 2px solid $border-color; text-align: center; font-size:($font-size-large - 2px); font-weight:400; line-height:124%;
  }


//** seccion de que ¿Que estamos haciendo?
.doing-landing{
  .row {
    & > div {
      margin-bottom: 40px;
    }
  }
}

//** seccion de Trámites
.steps-landing {
  article {
    margin-bottom: 35px;
    h4 { margin-bottom: 20px; }  
    p { font-size: ($font-size-base - 2px); }
  }
  
}


//** seccion Gobierno (articulos)
.recent-posts-landing {
  & > .row { margin-bottom: 30px; }  
  a { font-weight: 600; }
  img {width:100%; height:auto;}
  article:first-child {
    p {
      font-size: ($font-size-base - 2px); font-weight: 400; line-height: 132%;
    }
    a {
      color: $text-color; display:block; font-weight: 400; text-decoration: none;                
    }
    small {
      color: $link-color; font-weight: 600; text-decoration: underline;
      &:hover { color:$link-hover-color; }
    }
  }
  .small-posts {
    & > div { margin-bottom: 30px}
    a {      
      img {
        margin-bottom: 30px;
      }      
    }
    small {
      color: $link-color; font-weight: 600; text-decoration: underline;
      &:hover { color:$link-hover-color; }
    }
  }

  .landing-wrapper & {
    h4 {
      font-size: ($font-size-h4 - 2px); line-height:119%; margin-bottom: 12px; margin-top: 10px; 
    }
    .small-posts {
      a {
        h4 {
          margin-top: 10px; line-height:119%;
        }
      }
    }
  } 

}




/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {   
  $brand-margin: 64px;
  $banner-height: 470px;

  .main-banner {
    min-height: $banner-height; background-image: url('../images/home_picture.jpg'); background-size:cover; background-repeat:no-repeat; background-position:center center;
    & > .container { height:$banner-height; }
  }

  .main-banner, .landing-wrapper > section { 
    margin-bottom: $brand-margin;
  }

  .small-posts {
    & > div { margin-bottom: 0px; }
  }
  
  .intro-text {
    p {
      font-size: ($font-size-h4 + 2px);
    }
  }

  .about-landing, .doing-landing {
    .row {
      & > div {
        margin-bottom: 0px;
      }
    }
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {  
  .main-banner {
    margin-bottom: $brand-margin; background-position:right center;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}



